{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
<div id="header-container" class="bg-primary white">
	{% include "common/header.html" %}
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="breadcrumbs">
		<a href="/">Home </a> > About Me
	</div>
</div>
<input id="selectedSidebar" type="hidden" value="{{contentName}}">
<hr>
<div class="row">
	<h1>About me <img class="loading-spinner" style="display: none" src="{% static '/images/loading.gif' %}"></h1>
	{% include "./component/aboutMe/aboutMeNav.html" with sidebarClasses="sidebar-horizontal primary" only %}

</div>

<div id="pageContent" class="row-wrapper">

	{% if contentName != "" %}
		{% include "./content/aboutMe/"|add:contentName|add:".html" %}
	{% endif%}

</div>

{% endblock %}

{% block footer %}
<div id="footer-container" class="bg-primary white">
{% include "common/footer.html" %}
</div>
{% endblock %}
