{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="row">
	<div class="breadcrumbs">
		<a href="/">Home </a> > About Me
	</div>
</div>
<input id="selectedSidebar" type="hidden" value="{{contentName}}">
<hr>
<div class="row">
	<h1>About me <img class="loading-spinner" style="display: none" src="{% static '/images/loading.gif' %}"></h1>
	{% include "./component/about/sidebar.html" with sidebarClasses="sidebar-horizontal primary" only %}

</div>

<div id="pageContent" class="row-wrapper">
	<div class="row-wrapper whoAmI">
		{% include "./content/aboutMe/whoAmI.html" %}
	</div>
	<div class="row-wrapper experiences">
		{% include "./content/aboutMe/experiences.html" %}
	</div>
	<div class="row-wrapper partners">
	</div>
</div>

{% endblock %}

