{% load staticfiles %}
<div class="row">
	{% include "../../component/portfolio/sidebar.html" with sidebarClasses="col-md-3 sidebar-vertical primary" only %}
	<div class="col-md-9">
		<h2>Voice Controlled Home Automation - 2016</h2>
		<ul>
			<li>
				<h4>Overall Technology:</h4>
 				<p>Arduino – Java – SQLite – C# – SQLite – Git – Electronics</p>
 			</li>
			<li>
				<h3>> What?</h3> 
				<p> Wirelessly control and monitor home appliances (lamps, heaters, etc.) using voice commands or a phone application</p>
			</li>
			<li>
				<h3>> My role</h3>
				<ul>
					<li>- To design and implement the server which relays data using TCP between the phone application and transceivers</li>
					<li>- Optimized performance and response time using a multi-threaded architecture</li>
					<li>- Optimized reliability with timeouts, exception handling and thread-safe implementations</li>
				</ul>
			</li>
			
		</ul>

	</div>
</div>
<hr/>
<div class="row full-width">
	<div class="row">
		<h2>Photos</h2>
	</div>
	<div class="image-gallery-1">
		<div class="row">
			<div class="left-nav">
				<span class="glyphicon glyphicon-menu-left"></span>
			</div>
			<div class="right-nav">
				<span class="glyphicon glyphicon-menu-right"></span>
			</div>
			<div class="items-container">
				<div class="items">
					<div class="item">
						<h2>Inside the light component box</h2>
						<div>
							<img src="{% static '/images/portfolio/vcha/light-circuit.jpg' %}">
						</div>
					</div>
					<div class="item">
						<h2>Work station and open heater</h2>
						<div>
							<img src="{% static '/images/portfolio/vcha/heater-light-box.jpg' %}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<h2>Early stages of voice controls</h2>
	<div class="center">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/0LqzU1UrVW8" frameborder="0" allowfullscreen></iframe>
		<p></p>
	</div>
</div>

<script type="text/javascript">
	$(document).ready( function() {
		var imageGallerySection = "vcha";
		var n = new ImageGallery1(
				$("." + imageGallerySection + " .image-gallery-1 .item").length,
				$("." +imageGallerySection + " .image-gallery-1 .item:first").width(),
				imageGallerySection
			);
		$("." + imageGallerySection + " .image-gallery-1 .left-nav > span").on("click", function () {
			n.navigateLeft();
		});
		$("." + imageGallerySection + " .image-gallery-1 .right-nav > span").on("click", function () {
			n.navigateRight();
		});
		$("." + imageGallerySection + " .image-gallery-1 .item").on("click", function () {
			fullScreenGallery.setCurrentClass(n.getSectionClass());
			fullScreenGallery.openInFullScreen(this);
		});
	});
</script>