<div class="sidebar {{sidebarClasses}}">
	<div class="phohawkenics">
		<a href="#"><h6>Phowhawkenics<span class="glyphicon glyphicon-menu-left"></span></h6></a>
	</div>
	<div class="vcha">
		<a href="#"><h6>Voice Controlled Home Automation<span class="glyphicon glyphicon-menu-left"></span></h6></a>
	</div>
	<div class="rent-ur-stuff">
		<a href="#"><h6>Rent Your Stuff<span class="glyphicon glyphicon-menu-left"></span></h6></a>
	</div>
	<div class="rbms">
		<a href="#"><h6>Room Booking Meeting Scheduler<span class="glyphicon glyphicon-menu-left"></span></h6></a>
	</div>
</div>