{% load staticfiles %}
<div class="row full-width">
	<div class="full-width-bg" style="background-image:url( {% static '/images/web-design.jpg' %}); min-height: 400px">
		<div class="row">
			<h1 class="black center">UYGIGHLIKJ LKJH LH JLIUKJ>H</h1>
		</div>
	</div>
</div>
<div class="row home-menu-container">
	<div class="home-menu offset-top">
		{% include "./../component/home/navigation-menu.html" %}
	</div>
</div>
<div class="row center">
	<h1>"Talk is cheap. Show me the code."</h1>
</div>

<script type="text/javascript">

// A $( document ).ready() block.
$( document ).ready(function() {
    
});
</script>