{% load staticfiles %}
<div class="row">
	{% include "../../component/about/sidebar.html" with sidebarClasses="col-md-3 sidebar-vertical primary" only %}
	<div class="col-md-9">
		<h2>Concordia's Co-op Program</h2>
		<p>Co-operative education bridges university life and the working world. For 36 years, our model of experiential learning has alternated study with work-terms. Students test drive their careers and employers access more than 1,800 highly skilled students in over 40 programs.</p>
		<a target="_blank" href="https://www.concordia.ca/academics/co-op.html"><span class="glyphicon glyphicon-chevron-right"></span> Click here to learn more about Concordia's Co-op program</a>
	</div>
</div>
<!-- <div class="row">
	<h3>Awards and Distinctions</h3>
	<ul>
		<li>
			<h4>Honorable Mention – Concordia Capstone Engineering Project (2016)</h4>
			<h5>Voice Controlled Home Automation</h5>
			<p>A two-semester project in which graduating engineering students pursue independent research on a topic and implement a product under the supervision of a professor.</p>
			<a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Click here to learn more about the project</a>
		</li>
		<hr/>
		<li>
			<h4>Nomination – Co-op Employers Choice Award (2016)</h4>
			<h5>Spiros Kalantzis – McKesson Canada</h5>
			<p>Nominations are made by employers to showcase students with outstanding contributions their company during a Co-op work term.</p>
		</li>
	</ul>
</div> -->
<hr>

<div class="row">
	<div class="col-md-4">
		<h3>Technologies</h3>
		<ul>
			<li>
				<h4>Languages</h4>
				<p>C++ – Java – Python –  React JS/JavaScript/JQuery – AJAX – HTML – CSS/SCSS – FreeMarker – Velocity – SQL – JSON – XML – Batch/Shell Scripting</p>
			</li>
			<hr>
			<li>
				<h4>Frameworks</h4>
				<p>J2EE - Spring – Django – React JS – Google App Engine</p>
			</li>
			<hr>
			<li>
				<h4>Applications</h4>
				<p>VS 2010/2013 – Eclipse – IntelliJ – Visual Code – Liferay 6.1/7 – Jira – Confluence - Git – SVN – Remedy – Oracle Virtual Box – PostgreSQL – Putty – WinSCP  – Tomcat 7 –  Glassfish 4 
</p>
			</li>
		</ul>
	</div>
	<div class="col-md-8">
		<h3>Relevant Courses</h3>
		<ul>
			<li><h4>COEN 352 - Data Structures and Algorithms (Summer 2013)</h4></li>
			<hr/>
			<li><h4>COMP 371 - Computer Graphics (Summer 2015)</h4></li>
			<hr/>
			<li><h4>COEN 320 - Introduction to Real-Time Systems (Fall 2015)</h4></li>
			<hr/>
			<li><h4>COEN 445 - Communication Networks and Protocals (Fall 2015)</h4></li>
			<hr/>
			<li><h4>COEN 432 - Applied Genetic and Evolution Systems (Winter 2016)</h4></li>
			<hr/>
			<li><h4>COEN 498 - Programming on the Cloud (Winter 2016)</h4></li>
			<hr/>
			<li><h4>COMP 353 - Databases (Summer 2016)</h4></li>
		</ul>
	</div>
</div>

<hr>
<div class="row center timeline">
	<h1>Career Timeline</h1>
	<div class="entry-container">
		<div class="company-details">
			<img src="{% static 'images/about-me/mck-canada-logo.png' %}">
		</div>
		<div class="entries">
			<div>
				<div>
					<h2>September 2013 <span>- December 2013</span></h2>
					<h3>McKesson Canada (4 months) </h3>
					<h4>Intern Programmer Analyst</h4>
				</div>
			</div>
			<h1><span class="glyphicon glyphicon-chevron-down"></span></h1>
			<div>
				<h2>January 2015 <span>- September 2015</span></h2>
				<h3>McKesson Canada (8 months)</h3>
				<h4>Intern Programmer Analyst</h4>
			</div>
			<h1><span class="glyphicon glyphicon-chevron-down"></span></h1>
			<div>
				<h2>September 2015 <span>- September 2016</span></h2>
				<h3>McKesson Canada (1 year)</h3>
				<h4>Intern Programmer Analyst (Part-time: 21~27 hours a week)</h4>
			</div>
			<h1><span class="glyphicon glyphicon-chevron-down"></span></h1>
			<div>
				<h2>September 2016 <span>- November 2016</span></h2>
				<h3>McKesson Canada (4 months)</h3>
				<h4>Java Consultant</h4>
			</div>
			<h1><span class="glyphicon glyphicon-chevron-down"></span></h1>
		</div>
		
	</div>
	<div class="entry-container">
		<div class="company-details">
			<img src="{% static 'images/about-me/ixiasoft-logo.png' %}">
		</div>
		<div class="entries">
			<div>
				<h2>November 2016 <span>- February 2017</span></h2>
				<h3>Ixiasoft (3 months)</h3>
				<h4>Jr. Developer</h4>
			</div>
			<h1><span class="glyphicon glyphicon-chevron-down"></span></h1>
		</div>
	</div>
	<div class="entry-container">
		<div class="company-details">
			<img src="{% static 'images/about-me/stingray-logo.png' %}">
		</div>
		<div class="entries">
			<div>
				<h2>March 2017 <span>- Present</span></h2>
				<h3>Stingray Digital</h3>
				<h4>Java Back-end Developer</h4>
			</div>
		</div>
	</div>
</div>