$primary-headline-font: "Trebuchet MS", Helvetica, sans-serif;
$secondary-headline-font: Century Gothic, sans-serif;

$primary-text-font: Helvetica, sans-serif;

header, footer {
	a:hover {
		text-decoration: none;
	}
}

.content {
	h1 {
		color: $accent-color-2;
	}
	p,li {
		color: $neutral-black;
	}

	h2,h3,h4,h5,h6 {
		color: $accent-color-4;
	}

	a {
		color: $accent-color-5;
		text-decoration: none;
	}
}

body, p, li, table, div {
	font-family: $primary-text-font;
	font-size: 16px;
	letter-spacing: 1px;

	@media screen and (max-width: $xs-max-width) {
		font-size: 14px;
	}
}

h1 {
	font-family: $primary-headline-font;
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: bold;

    @media screen and (max-width: $xs-max-width) {
		font-size: 40px;
	}
}

h2 {
	font-family: $secondary-headline-font;
	letter-spacing: 5px;
    font-size: 40px;
	font-style: italic;

	@media screen and (max-width: $xs-max-width) {
		font-size: 32px;
	}
}

h3 {
	font-family: $primary-headline-font;
	letter-spacing: 3px;
    font-size: 28px;
    font-weight: bold;

    @media screen and (max-width: $xs-max-width) {
		font-size: 24px;
	}
}

h4 {
	font-family: $secondary-headline-font;
    font-size: 24px;

    @media screen and (max-width: $xs-max-width) {
		font-size: 20px;
	}
}

h5 {
	font-family: $primary-headline-font;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    
    @media screen and (max-width: $xs-max-width) {
		font-size: 17px;
	}
}

h6 {
	font-family: $secondary-headline-font;
	font-weight:bold;
    font-size: 20px;
    
    @media screen and (max-width: $xs-max-width) {
		font-size: 17px;
	}
}