$max-page-width: 1500px;

/************************************
**       Containers
*************************************/

#header-container {
	padding: 0;
	margin: 0;
	min-height: 50px;
}

#content-container {
	background-color: white;
	padding: 0;
	margin: 0;
	min-height: 400px;
	overflow: hidden;
}

#footer-container {
	padding: 0;
	margin: 80px 0 0 0;
	min-height: 100px;
}

/************************************
**       Header
*************************************/

header {
	width: 100%;
	margin: 0;
	padding: 0;

	.logo {
		margin-left: 15px;
		h1 {
			display: inline-block;
			margin: 0;
			padding: 10px 0 5px 0;
		}
	}

	> .row {
		position: relative;
		width: 80%;
		max-width: $max-page-width;
		margin: auto;
		padding: 0;
	}

	.misc {
		display: inline-block;
		position:absolute;
		text-align: right;
		white-space: nowrap;
		overflow-x: visible;
		padding: 5px;
		top: 0;
		right: 0;
	    line-height: 40px;
	    font-weight: bold;
	    z-index: 3000;
	}
	.misc > div {
		display: table-cell;
    	vertical-align: middle;
	}

	.misc-content {

	}

	.misc .misc-menu-btn {
		display: none; 
		font-size: 40px;
		color: white;
		position: absolute;
	    right: 5px;
	    top: 20px;
	}
}

.nav-menu-header {
	padding: 0;
	margin: 0 0 5px 15px;

	li {
		font-weight: bold;
		display: inline-block;
		padding: 0 5px;
	}

}

@media screen and (max-width: $xs-max-width) {
	header {
		.row {
			width: 100%;
		}

		.misc.open {
			background-color: $accent-color-3;
			border: 3px solid $neutral-black;
		}

		.misc .misc-content {
			display: none;
			height: 250px;
			width: 300px;
			text-align: center;
		}

		.misc .misc-menu-btn {
			display: block;
		}
	}
}


.nav-menu-header {
	
}

.breadcrumbs {
	border-width: 0 0 8px 0;
	@extend .dotted-border-black;
	margin-top: 5px;
	padding: 10px;
}

/************************************
**       Content
*************************************/

@media screen and (max-width: $xs-max-width) {
	.sidebar-vertical {
		display: none;
	}
}

@media screen and (min-width: $sm-min-width) {
	.sidebar-horizontal {
		display: none;
	}
}


.content,
.row-wrapper {
	width: 100%;
	margin: 0;
	padding: 0;

	> .row,
	> .row.full-width .row {
		position: relative;
		height: 100%;
		width: 80%;
		max-width: $max-page-width;
		margin: auto;
		padding: 0;
	}

	> .row.full-width {
		width: 100%;
		max-width: 9999px;
	}
}

@media screen and (max-width:$xs-max-width) {
	.content,
	.row-wrapper {

		> .row,
		> .row.full-width .row {
			width: 90%;
		}
	}
}

.loading-spinner {
	height: 33px;
	width: 33px;
}

.loading {
	opacity: 0.2;
}

/************************************
**       Footer
*************************************/

footer {
	width: 100%;
	margin: 0;
	padding: 0;

	> .row,
	> .row.full-width .row {
		width: 80%;
		max-width: $max-page-width;
		margin: auto;
		padding: 0;
	}

	> .row.full-width {
		width: 100%;
		max-width: 9999px;
	}

	.misc {
		padding: 10px;
		margin: auto;

	    font-weight: bold;
	}

	.footer-end {
		padding-bottom: 10px;
	}
}

.footer-img-links {
	background-color: white;
	padding: 10px;

	img {
		margin: 20px 10px;
	}
}

#back-to-top {
	display:none;
	z-index: 9999;
	height: 70px;
	width: 70px;
	position:fixed;
	bottom: 0;
	right: 0;

	img {
		height: 70px;
	}
}

@media screen and (max-width: $xs-max-width) {
	#back-to-top {
		display: block;
	}
}

/************************************
**       General
*************************************/

@mixin dotted-border($img-url) {
 	border-style: dotted;
 	border-image-source: url($img-url);
	border-image-slice: 33% 33%;
 	border-image-repeat: round;
}

.dotted-border-white {
	@include dotted-border ('../../images/dots-white.svg');
}

.dotted-border-black {
 	@include dotted-border ('../../images/dots-black.svg');
}

.dotted-border-grey {
 	@include dotted-border ('../../images/dots-grey.svg');
}

.dotted-border-taupe {
 	@include dotted-border ('../../images/dots-taupe.svg');
}

.center {
	text-align: center;
}

.full-width-bg {
	background-size: cover;
}

.flex-layout {
	display: flex;
}

