<!--<div class="row home-menu-container">
	<div class="home-menu offset-top">
		... content goes in this...

	</div>
</div>-->

<div class="white">
	<div class="menu-panel bg-accent-2 col-md-3">
		<div>
			<h6>
				About Me
				<span class="glyphicon glyphicon-plus"></span>
				<span class="glyphicon glyphicon-minus"></span>
			</h4>
			<div>
				<p>
					Get to know me as I present myself as well as my credentials.
				</p>
				 <div><a href="/about"><span class="glyphicon glyphicon-info-sign"></a></div>
			</div>
		</div>
	</div>
	<div class="menu-panel bg-accent-3 col-md-3">
		
		<div>
			<h6>
				My Services
				<span class="glyphicon glyphicon-plus"></span>
				<span class="glyphicon glyphicon-minus"></span>
			</h4>
			<div>
				<p>
					Get informed on the benefits of Websites and WebApps and learn about what I can do for you.
				</p>
				<div>
					<a href="/services"><span class="glyphicon glyphicon-info-sign"></span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="menu-panel bg-accent-4 col-md-3">
		
		<div>
			<h6>
				Portfolio
				<span class="glyphicon glyphicon-plus"></span>
				<span class="glyphicon glyphicon-minus"></span>
			</h4>
			<div>
				<p>
					Learn more about the project I've completed.
				</p> 
				<div><a href="/portfolio"><span class="glyphicon glyphicon-info-sign"></a></div>
			</div>
		</div>
	</div>
	<div class="menu-panel bg-accent-5 col-md-3">
		<div>
			<h6>
				Articles
				<span class="glyphicon glyphicon-plus"></span>
				<span class="glyphicon glyphicon-minus"></span>
			</h4>
			<div>
				<p>
					Read about random stuff that interests me.
				</p> 
				<div><a href="/articles"><span class="glyphicon glyphicon-info-sign"></a></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$(".menu-panel h6").click(function() {
	var $listItem = $(this).parent();
	var $menuPanel = $listItem.parent();
	var $menuContainer = $menuPanel.parent();

	var showContentFlag = $listItem.hasClass("open");

	if (showContentFlag) {
		$listItem.removeClass("open");
	} else {
		$menuContainer.find("div").removeClass("open");
		$listItem.addClass("open");

		$('html, body').animate({
		    scrollTop: $listItem.offset().top - 20
		}, 'slow');
	}
});

</script>