<div class="row">
	{% include "../../component/services/sidebar.html" with sidebarClasses="col-md-3 sidebar-vertical primary" only%}
	<div class="col-md-9">
		<h2>Aren't Websites and WebApps the same?</h2>
		<p>This is totally personal and subjective, but I'd say that a website is defined by its content, while a web application is defined by its interaction with the user. That is, a website can plausibly consist of a static content repository that's dealt out to all visitors, while a web application depends on interaction and requires programmatic user input and data processing.</p>
		<h3>Website</h3>
		<p>Websites are primarily informational. In this sense, <a href="http://cnn.com">http://cnn.com</a> and <a href="http://php.net">http://php.net</a> are websites, not web applications.</p>
		<h3>Web Application</h3>
		<p>Web applications primarily allow the user to perform actions. <a href="https://www.google.com/analytics">Google Analytics</a>, <a href="https://www.gmail.com">GMail</a>, and <a href="http://www.jslint.com/">jslint</a> are web applications.</p>
	</div>
</div>
<div class="row">
	<h3>Pricing</h3>
	<div class="col-md-12">
		<h4>What you need to think about</h4>
	</div>
</div>