<div class="row">
	{% include "../../component/services/sidebar.html" with sidebarClasses="col-md-3 sidebar-vertical primary" only%}
	<div class="col-md-9">
		<h2>Aren't Websites and WebApps the same?</h2>
		<p>This is totally personal and subjective, but I'd say that a website is defined by its content, while a web application is defined by its interaction with the user. That is, a website can plausibly consist of a static content repository that's dealt out to all visitors, while a web application depends on interaction and requires programmatic user input and data processing.</p>
		<h3>Website</h3>
		<p>Websites are primarily informational. In this sense, <a href="http://cnn.com">http://cnn.com</a> and <a href="http://php.net">http://php.net</a> are websites, not web applications.</p>
		<h3>Web Application</h3>
		<p>Web applications primarily allow the user to perform actions. <a href="https://www.google.com/analytics">Google Analytics</a>, <a href="https://www.gmail.com">GMail</a>, and <a href="http://www.jslint.com/">jslint</a> are web applications.</p>
	</div>
</div>
<div class="row">
	<h3>Pricing</h3>
	<div class="col-md-12">
		<table>
			<tr>
				<th>What you need to think about</th>
				<th>Why it's important?</th>
			</tr>
			<tr>
				<td>How many pages?</td>
				<td>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</td>
			</tr>
			<tr>
				<td>How fast?</td>
				<td>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</td>
			</tr>
			<tr>
				<td>Mobile Friendly?</td>
				<td>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</td>
			</tr>
			<tr>
				<td>Do you have the content?</td>
				<td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
			</tr>
		</table>
	</div>
</div>