<div class="row">
	{% include "../../component/services/sidebar.html" with sidebarClasses="col-md-3 sidebar-vertical primary" only%}
	<div class="col-md-9">
		<h2>Uhhhh, why bother with a website?</h2>
		<p>If you have a business and don’t have a website, you are losing out on great opportunities for your business. A website itself can be used to accomplish many different marketing strategies to help your business grow.</p>
		<p>As a business owner, you need to know where your consumers are. But what if consumers know your business and what you can offer, but they can’t reach you? That is one of the risks you take by not having a website for your business.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>What are some other benefits of having a business website?</h3>
		<ul class="horizontal-2-column info-dropdown">
			<li>
				<h4>
					> Cost Effective
					<span class="glyphicon glyphicon-plus"></span>
					<span class="glyphicon glyphicon-minus"></span>
				</h4>
				<p>You know exactly how much your website is going to cost you and it’s ongoings. A strategically developed website and online presence solution provides tremendous benefits and costing outlines.</p>
			</li>
			<li>
				<h4>
					> Accessible around the clock
					<span class="glyphicon glyphicon-plus"></span>
					<span class="glyphicon glyphicon-minus"></span>
				</h4>
				<p>Your website and social media accounts are accessible 24/7/365. Since your website is operational around the clock, from the convenience of the local coffee shop, their couch or their bed, your customers and clients can easily access your website.</p>
			</li>
			<li>
				<h4>
					> Credibility
					<span class="glyphicon glyphicon-plus"></span>
					<span class="glyphicon glyphicon-minus"></span>
				</h4>
				<p>By building a website you are giving your business the opportunity to tell consumers why they should trust you and the testimonials and facts to back up those opportunities. Believe it or not, most people will search the internet for a product or service before the purchase to check the credibility first.</p>
			</li>
			<li>
				<h4>
					> Marketing
					<span class="glyphicon glyphicon-plus"></span>
					<span class="glyphicon glyphicon-minus"></span>
				</h4>
				<p>Having a website and online presence strategy allows you to market your business online. There are lots of marketing strategies you can use to advertise and market your business. All online marketing strategies have been proven to be effective.</p>
			</li>
		</ul>
		<hr/>
		<p>It is imperative for every business to have a website. The more professional your website is, the more advantages you can gain.</p>
	</div>
</div>
<div class="row center quote">
	<h1>"Stand out from the rest, Build relationships, credibility and awareness"</h1>
</div>
<div class="row">
	<h3>Pricing</h3>
	<div class="col-md-12">
		<h4>What you need to think about</h4>
	</div>
</div>

<script type="text/javascript">

$(".info-dropdown h4").on("click", function() {
	var $listItem = $(this).parent();

	var showContentFlag = $listItem.hasClass("open");

	if (showContentFlag) {
		$listItem.removeClass("open");
	} else {
		$listItem.parent().find("li").removeClass("open");
		$listItem.addClass("open");

		$('html, body').animate({
		    scrollTop: $listItem.offset().top - 20
		}, 'slow');
	}
});

</script>