
<hr/>
<div class="color-palette">
	<ul>
		<li><h6>Primary</h6></li>
		<li>
			<div class="bg-primary">
			</div>
			<p>#B0D2D3</p>
		</li>
		<li>
			<div class="bg-secondary">
			</div>
			<p>#62D4D0</p>
		</li>
	</ul>
	<ul>
		<li><h6>Accent</h6></li>
		<li>
			<div class="bg-accent-1">
			</div>
			<p>#0A83E0</p>
		</li>
		<li>
			<div class="bg-accent-2">
			</div>
			<p>#2D4262</p>
		</li>
		<li>
			<div class="bg-accent-3">
			</div>
			<p>#FFF3AE</p>
		</li>
		<li>
			<div class="bg-accent-4">
			</div>
			<p>#73605B</p>
		</li>
		<li>
			<div class="bg-accent-5">
			</div>
			<p>#D09683</p>
		</li>
	</ul>
	<ul>
		<li><h6>Neutral</h6></li>
		<li>
			<div class="bg-grey">
			</div>
			<p>#eeeeee</p>
		</li>
		<li>
			<div class="bg-dark-grey">
			</div>
			<p>#444C5C</p>
		</li>
		<li>
			<div class="bg-black">
			</div>
			<p>#333333</p>
		</li>
		<li>
			<div class="bg-white">
			</div>
			<p>#FFFFFF</p>
		</li>
	</ul>
</div>