{% load staticfiles %}
<footer>
	<div class="row full-width">
		<div class="full-width-bg" style="background-image:url( {% static '/images/coffee-scene.jpg' %}); min-height: 200px"></div>
	</div>
	<div class="row full-width center">
		<div class="footer-img-links">
			<a href="#"><img height="40"  src="{% static 'images/facebook_icon.png' %}"></a>
			<a href="#"><img height="40" src="{% static 'images/linkedin_icon.png' %}"></a>
			<a href="#"><img height="40" src="{% static 'images/github_logo.png' %}"></a>
		</div>
	</div>
	<div class="row footer-end">
		<div class="center misc">
			<a href="#">Site Map</a> |
			<a href="#">Contact me</a>
		</div>
	</div>
</footer>