/* Small devices (tablets, 768px and up) 
xs < 768px
768px < sm < 992px
992px < md < 1200px
1200px < lg
*/
/*blue*/
/**/
/*blue*/
/*indigo*/
/*deep purple*/
/*taupe*/
/*blush*/
/*grey*/
/*black*/
/*beige*/
.bg-primary {
  background-color: #B0D2D3; }

.bg-secondary {
  background-color: #62D4D0; }

.bg-accent-1 {
  background-color: #0A83E0; }

.bg-accent-2 {
  background-color: #2D4262; }

.bg-accent-3 {
  background-color: #363237; }

.bg-accent-4 {
  background-color: #73605B; }

.bg-accent-5 {
  background-color: #D09683; }

.bg-grey {
  background-color: #eeeeee; }

.bg-dark-grey {
  background-color: #444C5C; }

.bg-black {
  background-color: #333333; }

.bg-beige {
  background-color: #FFF3AE; }

.bg-white {
  background-color: white; }

.content .row.accent-color-1, .content .row .accent-color-1 {
  color: #0A83E0; }
  .content .row.accent-color-1 h1, .content .row.accent-color-1 h2, .content .row.accent-color-1 h3, .content .row.accent-color-1 h4, .content .row.accent-color-1 h5, .content .row.accent-color-1 h6, .content .row.accent-color-1 p, .content .row.accent-color-1 li, .content .row .accent-color-1 h1, .content .row .accent-color-1 h2, .content .row .accent-color-1 h3, .content .row .accent-color-1 h4, .content .row .accent-color-1 h5, .content .row .accent-color-1 h6, .content .row .accent-color-1 p, .content .row .accent-color-1 li {
    color: #0A83E0; }
.content .row.accent-color-2, .content .row .accent-color-2 {
  color: #2D4262; }
  .content .row.accent-color-2 h1, .content .row.accent-color-2 h2, .content .row.accent-color-2 h3, .content .row.accent-color-2 h4, .content .row.accent-color-2 h5, .content .row.accent-color-2 h6, .content .row.accent-color-2 p, .content .row.accent-color-2 li, .content .row .accent-color-2 h1, .content .row .accent-color-2 h2, .content .row .accent-color-2 h3, .content .row .accent-color-2 h4, .content .row .accent-color-2 h5, .content .row .accent-color-2 h6, .content .row .accent-color-2 p, .content .row .accent-color-2 li {
    color: #2D4262; }
.content .row.accent-color-3, .content .row .accent-color-3 {
  color: #363237; }
  .content .row.accent-color-3 h1, .content .row.accent-color-3 h2, .content .row.accent-color-3 h3, .content .row.accent-color-3 h4, .content .row.accent-color-3 h5, .content .row.accent-color-3 h6, .content .row.accent-color-3 p, .content .row.accent-color-3 li, .content .row .accent-color-3 h1, .content .row .accent-color-3 h2, .content .row .accent-color-3 h3, .content .row .accent-color-3 h4, .content .row .accent-color-3 h5, .content .row .accent-color-3 h6, .content .row .accent-color-3 p, .content .row .accent-color-3 li {
    color: #363237; }
.content .row.accent-color-4, .content .row .accent-color-4 {
  color: #73605B; }
  .content .row.accent-color-4 h1, .content .row.accent-color-4 h2, .content .row.accent-color-4 h3, .content .row.accent-color-4 h4, .content .row.accent-color-4 h5, .content .row.accent-color-4 h6, .content .row.accent-color-4 p, .content .row.accent-color-4 li, .content .row .accent-color-4 h1, .content .row .accent-color-4 h2, .content .row .accent-color-4 h3, .content .row .accent-color-4 h4, .content .row .accent-color-4 h5, .content .row .accent-color-4 h6, .content .row .accent-color-4 p, .content .row .accent-color-4 li {
    color: #73605B; }
.content .row.accent-color-5, .content .row .accent-color-5 {
  color: #D09683; }
  .content .row.accent-color-5 h1, .content .row.accent-color-5 h2, .content .row.accent-color-5 h3, .content .row.accent-color-5 h4, .content .row.accent-color-5 h5, .content .row.accent-color-5 h6, .content .row.accent-color-5 p, .content .row.accent-color-5 li, .content .row .accent-color-5 h1, .content .row .accent-color-5 h2, .content .row .accent-color-5 h3, .content .row .accent-color-5 h4, .content .row .accent-color-5 h5, .content .row .accent-color-5 h6, .content .row .accent-color-5 p, .content .row .accent-color-5 li {
    color: #D09683; }
.content .row .white {
  color: white; }
  .content .row .white h1, .content .row .white h2, .content .row .white h3, .content .row .white h4, .content .row .white h5, .content .row .white h6, .content .row .white p, .content .row .white li {
    color: white; }
.content .row .black {
  color: #333333; }
  .content .row .black h1, .content .row .black h2, .content .row .black h3, .content .row .black h4, .content .row .black h5, .content .row .black h6, .content .row .black p, .content .row .black li {
    color: #333333; }

.white header h1, .white header h2, .white header h3, .white header h4, .white header h5, .white header h6, .white header p, .white header li, .white header a, .white footer h1, .white footer h2, .white footer h3, .white footer h4, .white footer h5, .white footer h6, .white footer p, .white footer li, .white footer a {
  color: white; }
.white header a:hover, .white footer a:hover {
  opacity: 0.6; }

.black header h1, .black header h2, .black header h3, .black header h4, .black header h5, .black header h6, .black header p, .black header li, .black header a, .black footer h1, .black footer h2, .black footer h3, .black footer h4, .black footer h5, .black footer h6, .black footer p, .black footer li, .black footer a {
  color: #333333; }
.black header a:hover, .black footer a:hover {
  opacity: 0.6; }

header a:hover, footer a:hover {
  text-decoration: none; }

.content h1 {
  color: #2D4262; }
.content p, .content li {
  color: #333333; }
.content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #73605B; }
.content a {
  color: #D09683;
  text-decoration: none; }

body, p, li, table, div {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1px; }

h1 {
  font-family: Impact;
  letter-spacing: 10px;
  font-size: 50px; }

h2 {
  font-family: Century Gothic, sans-serif;
  letter-spacing: 5px;
  font-size: 40px;
  font-style: italic; }

h3 {
  font-family: Impact;
  letter-spacing: 3px;
  font-size: 28px; }

h4 {
  font-family: Century Gothic, sans-serif;
  font-size: 24px; }

h5 {
  font-family: Impact;
  font-size: 20px; }

h6 {
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-size: 20px; }

/************************************
**       Containers
*************************************/
#header-container {
  padding: 0;
  margin: 0;
  min-height: 50px; }

#content-container {
  background-color: white;
  padding: 0;
  margin: 0;
  min-height: 400px;
  overflow: hidden; }

#footer-container {
  padding: 0;
  margin: 80px 0 0 0;
  min-height: 100px; }

/************************************
**       Header
*************************************/
header {
  width: 100%;
  margin: 0;
  padding: 0; }
  header .logo {
    margin-left: 15px; }
    header .logo h1 {
      display: inline-block;
      margin: 0;
      padding: 10px 0 5px 0; }
  header > .row {
    position: relative;
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding: 0; }
  header .misc {
    display: inline-block;
    position: absolute;
    text-align: right;
    white-space: nowrap;
    overflow-x: visible;
    padding: 5px;
    top: 0;
    right: 0;
    line-height: 40px;
    font-weight: bold;
    z-index: 3000; }
  header .misc > div {
    display: table-cell;
    vertical-align: middle; }
  header .misc .misc-menu-btn {
    display: none;
    font-size: 40px;
    color: white;
    position: absolute;
    right: 5px;
    top: 20px; }

.nav-menu-header {
  padding: 0;
  margin: 0 0 5px 15px; }
  .nav-menu-header li {
    font-weight: bold;
    display: inline-block;
    padding: 0 5px; }

@media screen and (max-width: 767.5px) {
  header .row {
    width: 100%; }
  header .misc.open {
    background-color: #363237;
    border: 3px solid #333333; }
  header .misc .misc-content {
    display: none;
    height: 250px;
    width: 300px;
    text-align: center; }
  header .misc .misc-menu-btn {
    display: block; } }
.breadcrumbs {
  border-width: 0 0 8px 0;
  margin-top: 5px;
  padding: 10px; }

/************************************
**       Content
*************************************/
@media screen and (max-width: 767.5px) {
  .sidebar-vertical {
    display: none; } }
@media screen and (min-width: 768px) {
  .sidebar-horizontal {
    display: none; } }
.content,
.row-wrapper {
  width: 100%;
  margin: 0;
  padding: 0; }
  .content > .row,
  .content > .row.full-width .row,
  .row-wrapper > .row,
  .row-wrapper > .row.full-width .row {
    position: relative;
    height: 100%;
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding: 0; }
  .content > .row.full-width,
  .row-wrapper > .row.full-width {
    width: 100%;
    max-width: 9999px; }

@media screen and (max-width: 767.5px) {
  .content > .row,
  .content > .row.full-width .row,
  .row-wrapper > .row,
  .row-wrapper > .row.full-width .row {
    width: 90%; } }
.loading-spinner {
  height: 33px;
  width: 33px; }

.loading {
  opacity: 0.2; }

/************************************
**       Footer
*************************************/
footer {
  width: 100%;
  margin: 0;
  padding: 0; }
  footer > .row,
  footer > .row.full-width .row {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding: 0; }
  footer > .row.full-width {
    width: 100%;
    max-width: 9999px; }
  footer .misc {
    padding: 10px;
    margin: auto;
    font-weight: bold; }
  footer .footer-end {
    padding-bottom: 10px; }

.footer-img-links {
  background-color: white;
  padding: 10px; }
  .footer-img-links img {
    margin: 20px 10px; }

#back-to-top {
  display: none;
  z-index: 9999;
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 0;
  right: 0; }
  #back-to-top img {
    height: 70px; }

@media screen and (max-width: 767.5px) {
  #back-to-top {
    display: block; } }
/************************************
**       General
*************************************/
.dotted-border-white, .home-menu .menu-panel > div > div, .home-menu .menu-panel > div > div div > a > span.glyphicon {
  border-style: dotted;
  border-image-source: url("../../images/dots-white.svg");
  border-image-slice: 33% 33%;
  border-image-repeat: round; }

.dotted-border-black, .breadcrumbs {
  border-style: dotted;
  border-image-source: url("../../images/dots-black.svg");
  border-image-slice: 33% 33%;
  border-image-repeat: round; }

.dotted-border-grey {
  border-style: dotted;
  border-image-source: url("../../images/dots-grey.svg");
  border-image-slice: 33% 33%;
  border-image-repeat: round; }

.dotted-border-taupe {
  border-style: dotted;
  border-image-source: url("../../images/dots-taupe.svg");
  border-image-slice: 33% 33%;
  border-image-repeat: round; }

.center {
  text-align: center; }

.full-width-bg {
  background-size: cover; }

.flex-layout {
  display: flex; }

/************************************
**       Navigation Menus
*************************************/
.row.home-menu-container {
  height: 160px; }

.home-menu {
  position: absolute;
  width: 100%;
  z-index: 1000; }
  .home-menu > div {
    width: 80%;
    margin: auto; }
  .home-menu .menu-panel > div > div {
    height: 200px;
    border-color: white;
    border-width: 8px 0 0 0; }
    .home-menu .menu-panel > div > div > div {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-left: -15px;
      text-align: center; }
    .home-menu .menu-panel > div > div div > a {
      color: white;
      display: block; }
      .home-menu .menu-panel > div > div div > a > span.glyphicon {
        font-size: 40px;
        border-color: white;
        border-width: 8px 0 0 0;
        padding: 5px 10px 0 10px; }
      .home-menu .menu-panel > div > div div > a:hover > span.glyphicon {
        opacity: 0.6; }
  .home-menu .menu-panel h6 {
    margin: 0;
    padding: 5px 0;
    cursor: pointer; }
    .home-menu .menu-panel h6 > span.glyphicon {
      display: none;
      float: right; }

.home-menu.offset-top {
  top: -90px; }

@media screen and (min-width: 992px) and (max-width: 1199.5px) {
  .home-menu > div {
    width: 100%; } }
@media screen and (max-width: 991.5px) {
  .home-menu.offset-top {
    top: -50px; }

  .row.home-menu-container {
    height: 100px; }

  .home-menu .menu-panel > div > div {
    display: none;
    height: auto; }
    .home-menu .menu-panel > div > div > div {
      position: relative;
      display: block;
      margin-left: 0; }
  .home-menu .menu-panel h6 > span.glyphicon {
    display: inline; } }
.sidebar-vertical > div,
.sidebar-horizontal > div {
  position: relative;
  margin: 5px 10px; }
  .sidebar-vertical > div:hover,
  .sidebar-horizontal > div:hover {
    opacity: 0.6; }
  .sidebar-vertical > div :hover,
  .sidebar-horizontal > div :hover {
    text-decoration: none; }
  .sidebar-vertical > div a h6,
  .sidebar-horizontal > div a h6 {
    color: white;
    padding: 5px 20px 5px 10px;
    margin: 0; }
  .sidebar-vertical > div a h6 span,
  .sidebar-horizontal > div a h6 span {
    position: absolute;
    right: 0;
    line-height: 32px;
    display: none; }
.sidebar-vertical > div.selected,
.sidebar-horizontal > div.selected {
  background-color: white !important; }
  .sidebar-vertical > div.selected:hover,
  .sidebar-horizontal > div.selected:hover {
    opacity: 1; }
  .sidebar-vertical > div.selected h6 span,
  .sidebar-horizontal > div.selected h6 span {
    display: inline; }
.sidebar-vertical > div:hover,
.sidebar-horizontal > div:hover {
  cursor: pointer; }
  .sidebar-vertical > div:hover h6 span,
  .sidebar-horizontal > div:hover h6 span {
    display: inline; }
.sidebar-vertical.primary > div,
.sidebar-horizontal.primary > div {
  background-color: #B0D2D3; }
.sidebar-vertical.primary > div.selected h6,
.sidebar-horizontal.primary > div.selected h6 {
  color: #B0D2D3; }
.sidebar-vertical.accent-1 > div,
.sidebar-horizontal.accent-1 > div {
  background-color: #0A83E0; }
.sidebar-vertical.accent-1 > div.selected h6,
.sidebar-horizontal.accent-1 > div.selected h6 {
  color: #0A83E0; }
.sidebar-vertical.accent-2 > div,
.sidebar-horizontal.accent-2 > div {
  background-color: #2D4262; }
.sidebar-vertical.accent-2 > div.selected h6,
.sidebar-horizontal.accent-2 > div.selected h6 {
  color: #2D4262; }
.sidebar-vertical.accent-3 > div,
.sidebar-horizontal.accent-3 > div {
  background-color: #363237; }
.sidebar-vertical.accent-3 > div.selected h6,
.sidebar-horizontal.accent-3 > div.selected h6 {
  color: #363237; }

.sidebar-vertical {
  padding: 0; }

.sidebar-horizontal {
  text-align: center; }
  .sidebar-horizontal > div {
    display: inline-block; }
    .sidebar-horizontal > div h6 {
      color: white;
      margin: 0; }

/*# sourceMappingURL=main.css.map */
